@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins&family=Ubuntu+Mono&display=swap');

:root{
    --background : #008bfe;
    --bg2 : rgb(248, 253, 253) ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    
}
::-webkit-scrollbar-track{
    height: 20px;
    background-color: orange;
}

#wrapper{
    overflow-y : auto;
    overflow-x: hidden;
}

#container{
    display: flex;
    flex-direction: column;
    min-width: 380px;
}

header{
    color : white  ;
    height: 60px;
    /* width: 100vw; */
    min-width: 320px;
    background-color: var(--background);
    z-index: 50;
    position: relative;
    
    

}

#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin: auto;
    letter-spacing: 1px; 
    
}

#logo{
    color : white ;
    font-size: 2rem;
    cursor: pointer;
    padding: 0px 1rem;
}

#nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0px 3rem;

}

.grayscal-brightness{
    filter: grayscale(1) brightness(1.5);
}

#nav li a{
    color : white ;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;

}
.changeTheme{
    display: flex;
    align-items: center;
}

.fa-moon , .fa-sun{
    font-size: 1.5rem;
    padding: 0px 0.5rem;
    cursor: pointer;
}

/* Hero Page */

#hero-page{
    width: 100%;
    background-color: rgb(248, 253, 253);
    padding: 0px 0px;

}

#hero-page-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 0px;
    position: relative;
}

.name-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    padding-left: 3rem;
    margin-bottom: 2rem;
}

.name-col h1{
    font-size: 3rem;
    color: var(--background);
    white-space: nowrap;
    cursor: pointer;
}

.name-col h1:hover{
    transform:rotate3d(20deg);
}
.name-col span{
    font-size: 2rem;
}

.name-col h2{
    font-size: 1.8rem;
}
.name-col p{
    font-size: 1rem;
    opacity: 0.6;
    margin-top: 0.4rem;
}

.btn1{
    outline: none;
    border: 2px solid var(--background);
    background-color: var(--background) ;
    border-radius: 4px;
    color : white ;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
    z-index: 5;
}



.btn1:hover{
    color: var(--background);
    background-color: white;

}

.btn2{
    outline: none;
    border-radius: 4px;
    border: 2px solid var(--background);
    background-color: white;
    color : var(--background);
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    transition: 0.4s;
    position: relative;
    z-index: 5;

}

.btn2:hover{
    background-color: var(--background);
    color : white ;
}

.hero-page-btn{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}




.image-col{
    height: 40rem;
    width: 35rem;
    position: relative;
    margin-left: 5rem;

}


#man-img{
    position: absolute;
    height: 45.5rem;
    width: 120%;
    right: 0px;
    top: 3px;
    z-index: 2;
    /* transition: 10s; */
    animation: manImg 2s ease-in infinite;
}

/* @keyframes manImg {
    0%{
        right: 0px;
    }
    50%{
        right: -20px;
    }

    100%{
        right: 0px;
    }
} */




.circle{
    position: absolute;
    height: 120%;
    width: 45rem;
    bottom: -25px;
    right: -40px;
    /* transition: 10s; */
    animation: circleImg 2s ease-in infinite;
    user-select: none;


}
/* @keyframes circleImg {
    0%{
        right: -40px;
    }
    50%{
        right: -20px;
    }

    100%{
        right: -40px;
    }
} */

.circle2{
    position: absolute;
    height: 121%;
    width: 56rem;
    bottom: -40%;
    transform: rotate(79deg);
    left: -40%;
    opacity: 0.1;
    animation: circle2Img 60s ease-in infinite;
    user-select: none; 
    z-index: 2;

}

/* @keyframes circle2Img {
    0%{
        transform: rotate(79deg);
    }
    50%{
        transform: rotate(150deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */


/* About Section */

.about{
    background-color: var(--background);
    position: relative;
    z-index: 40;
    padding: 20px 0px;
}

.about-container{
    display: flex;
    flex-direction: column;
    padding:20px;
    color: white;
    position: relative;
}

.heading h1{
    font-size: 1.5rem;
    text-align: center;
    

}
.heading{
    text-align: center;
    letter-spacing: 1px;
}

.heading h2{
    font-size: 1.5rem;
    padding: 5px 40px ;
    width: 635px;
    margin: auto;
    color : black
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 40px;
    
}

.box{
    height: 22rem;
    width: 18rem;
    margin: 0px 20px;
    padding: 40px 20px;
    background-color: white;
    color : var(--background) ;
    text-align: center;
    border-radius: 8px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.2) , 4px 4px 15px rgba(0,0,0,0.1);
    user-select: none;
    border-bottom: 12px solid #ebebeb;
}

.box i{
    color : white ;
    background-color: var(--background);
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 20px;
    margin-top: 12px;
}

.box h1{
    font-size: 1.5rem;
    margin-top: 12px;


}
.box p{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    color : black ;
    text-align: center;
}

.transform{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

/* Arrow */

#right-arrow , #left-arrow{
    position: absolute;
    color : white ;
    top: 55%;
    font-size: 3rem;
    padding: 0px 5px;

}


#right-arrow:hover, #left-arrow:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 5%;
    /* padding: 5px 10px; */

}

#right-arrow{
    right: 80px;
}

#left-arrow{
    left: 80px;
}


/* About 2 */

.about2-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about2-heading h1{
    color : white ;
    font-size: 3rem;
}

.about2-heading h2{
    color : black ;
    font-size: 1.5rem;
}

.about2-man-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 5px;
}
.about2-man-img h2{
    text-align: center;
}

.about2-man-img div img{
    height: 100%;
    width: 100% ;
    position: absolute;
}

#circle-white{
    height: 12rem;
    width: 12rem;
    background-color: white;
    position: relative;
    border-radius: 50%;
}

.company{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    color: white;
}
.company-img img{
    height: 30px;
}

.company-img{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Projects Section */

#projects{
    width: 100%;
    background-color: rgb(248, 253, 253);
    position: relative;
    padding: 40px 0px;
}

#projects-container{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    
}

.website-img img{
    height: 400px;
    width: 400px;
    position: relative;
    z-index: 20;
}

.website-img-content{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    width: 400px;
}
.website-img-content h1{
    color: var(--background);
    font-size: 2rem;

}
.website-img-content p{
    font-size: 1rem;
}

.fa-chart-line{
    font-size: 4rem;
    color: var(--background);
}

/* Recent Projects */

#recent-projects{
    width: 100%;
    background-color: rgb(248, 253, 253);
    padding: 80px 0px;
    
}

#recent-projects-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.recent-projects-heading{
    color : white ;
    background-color: var(--background);
    height: 40px;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5rem;
}


.projects-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.projects-list img{
    height: 12rem;
    width: 20rem;
    border-radius: 4px;
    transition: 0.4s;
    box-shadow: 1px 1px 1px;
}

.projects-list img:hover{
    transform: rotate(5deg);

}


/* Contact Section */

#contact{
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

#contact-container{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

#contact-container h1{
    font-size: 4rem;
    text-align: center;
    margin: auto;
    color: white;
    margin-top: 100px;
    padding: 0px 300px;

}

.fa-arrow-down{
    font-size: 5rem;
    text-align: center;
    margin-top: 60px;
    animation: arrowDown 1s ease-in infinite;
}

@keyframes arrowDown{
    0%{
        margin-top: 60px;
    }
    50%{
        margin-top: 80px;
    }
    100%{
        margin-top: 60px;
    }
}

/* Social Accounts */

#social-accounts{
    width: 100%;
    padding: 60px 0px;
}

#social-accounts-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;

}


.social-id{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-id h1{
    color: var(--background);
    font-size: 3rem;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.icons img{
    height: 50px;
    width: 50px;
}

.icons a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color : black ;
    padding-left: 30px;
    transition: 0.4s;
}

.icons a:hover{
    padding-left: 40px;
    color: var(--background);
}


/* footer */

footer{
    height: 30vh;
    width: 100%;
    background-color: var(--background);
}

#footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 10px;
    color: white;
}

#footer-container h1{
    text-align: center;
}

#footer-container p{
    text-align: center;
    width: 600px;
    opacity: 0.5;
}

.footer-icons{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-icons i{
    font-size: 1.5rem;
    opacity: 0.8;
}


